
.highcharts-figure,
.highcharts-data-table table {
    min-width: 10px;
    min-height: 10px;
    max-width: 100vw;
    margin: 0rem;
    flex-grow: 1;
}

.highcharts-figure .chart {
    height: 97%;
}

.highcharts-container {
    font-size: 1em;
}

.highcharts-tooltip h3 {
    margin: 0.3em 0;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 1500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-title {
    font-size: 1.5rem;
}

#container-europe-co2 {
	height: 100%;
	width: 100%;
}

.trellis .highcharts-background,
#container-europe-co2 .highcharts-background {
    fill: transparent;
}
.trellis .highcharts-grid-line,
.trellis .highcharts-plot-background,
#container-europe-co2 .highcharts-plot-background {
    fill: transparent;
    stroke: transparent;
}

.trellis .highcharts-data-label,
#container-europe-co2 .highcharts-data-label {
    font-size: 0.6em;
}

.trellis {
  position: absolute;
  width: 100%;
  top: 10%;
  height: 80%;
}

.trellis td {
	width: 240px;
}
.trellis td.middle {
	width: auto;
}

#container-vehicule .highcharts-plot-background,
#container-vehicule .highcharts-background {
    fill: transparent;
}

/* Default colors */
 .highcharts-annotation-label-box,
 #container-income-percentage .highcharts-color-0,
 #container-it .highcharts-color-0,
 #container-clothing .highcharts-color-0,
 #container-vehicule .highcharts-color-0, 
 #container-income .highcharts-color-0 {
    fill: #7cb5ec;
    stroke: #7cb5ec;
  }
  
  #container-it .highcharts-color-1,
  #container-clothing .highcharts-color-1,
  #container-income .highcharts-color-1 {
    fill: #434348;
    stroke: #434348;
  }
  
  #container-income-percentage .highcharts-color-2,
  #container-clothing .highcharts-color-2,
  #container-income .highcharts-color-2 {
    fill: #90ed7d;
    stroke: #90ed7d;
  }
  
  #container-income-percentage .highcharts-color-3,
  #container-clothing .highcharts-color-3,
  #container-income .highcharts-color-3 {
    fill: #f7a35c;
    stroke: #f7a35c;
  }
  
  #container-income-percentage .highcharts-color-1,
  #container-income .highcharts-color-4 {
    fill: #8085e9;
    stroke: #8085e9;
  }
  
  #container-income .highcharts-color-5 {
    fill: #f15c80;
    stroke: #f15c80;
  }
  
  #container-income .highcharts-color-6 {
    fill: #e4d354;
    stroke: #e4d354;
  }
  
  #container-income .highcharts-color-7 {
    fill: #2b908f;
    stroke: #2b908f;
  }
  
  #container-income .highcharts-color-8 {
    fill: #f45b5b;
    stroke: #f45b5b;
  }
  
  #container-income .highcharts-color-9 {
    fill: #91e8e1;
    stroke: #91e8e1;
  }