.wrapper
  #footer
    .grids
      .grid-5.grid.text-center
        p © Eve 2012 by 
          a(href="http://sg-layout.com" target="_blank") SiGa
      .grid-6.grid.text-center
        p Free responsive template v 1.0
      .grid-5.grid.text-center
        p Contactez moi 
          a(href="contact.html") ici
    // end of grids
  // end of footer